* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1f1d2b;
    color: white;
  }

  header{
    background-image: url('Backgroun.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    position: relative;
  }

  
  header {
    text-align:center;
    padding: 50px 0;
  }

  .boxx{
    width: 400px;
    height: 200px;
    border: 15px solid  rgb(218, 239, 155);
    padding: 10px ;
    margin: 20px;
    right: 250px;
    bottom: 150px;
    position:absolute;

    }
  .boxx .title1{
     color: rgb(15, 31, 208);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 3cap;
  }
  .boxx .akl{
    font-size: 3cap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(221, 255, 1);
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav ul li{
    display: inline-block;
list-style: none;
margin: 10px 20px;
  }

  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px; 
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  #about{
    padding: 80px 0;
    color: #ababab;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about-col-1{
    flex-basis: 35%;
  }

  .about-col-1 img{
    width: 100%;
    border-radius: 15px;
  }

  .about-col-2{ 
    flex-basis: 60%;
  }
.sub-title{
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
 

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: aqua;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
  nav ul li a:hover::after{
    width: 100%;
  }
  header h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  
#portfolio{
  padding: 30px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  padding-left: 60px;
  width: 70%;
  border-radius:10px ;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),red);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
   
}
.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

}
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.contact-info {
  width: 30%;
}

.contact-info p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  font-size: 50px;
}

.social-icons a {
  margin-right: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html{
  scroll-behavior: smooth ;
}